*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    font-family: 'Fjalla One', sans-serif;
    
}

header{
    position: relative;
    position: fixed;
    z-index: 50;
}
header div{
    height: 70px;
    width: 100vw;
    background-color: transparent;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
    z-index: 5;
    font-family: 'Modak', cursive;
    transition: 0.5s;
    
}
header div p{
font-size: 40px;
color: white;
margin-right: 6px;
background-color: #fa8e007c;
border-radius: 10px;
padding: 0 10px;
}
.logo-mob{
    height: 50px;
    width: 50px;
    opacity: 0.9;
    border-radius: 50%;
    padding: 3px;
}

header i{
    font-size: 55px;
    margin-left: 6px;
    color: rgb(230, 230, 230);
}


.nav-mob{
    position: absolute;

    top: -900%;

    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    width: 100%;

    transition: 0.5s;
    
    
}

header div:hover ~ .nav-mob{
    top: 100%;
}

header div:hover{
    background-color:#AD6200;
}
li{
    padding: 15px 0px;
    background-color: #AD6200;
    color: white;
    border-top: 4px solid white;
}

.presentacion{
    height: 100vh;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 35px;
    position: relative;
    
}
.presentacion i{
    z-index: 10;
    margin: 0 5px;

    color: rgb(237, 237, 238);
    opacity: 0.5;
}


.imagenes-p{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;

    transition: 1s;
}



.mediador{
    z-index: 10;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.mediador>div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(237, 237, 238);
    opacity: 0.5;
    margin: 6px 5px;
    transition: 0.5s;
}
.mediador>.circulo1{
    opacity: 0.9;
}

.img-presentacion0{
    z-index: 5;
    background-image: url('../images/churros2.jpg');
    opacity: 1;  
}
.img-presentacion1{
    z-index: 4;
    background-image: url("../images/churrin.png");
    opacity: 0;   
}
.img-presentacion2{
    z-index: 3;
    background-image: url("../images/churros1.jpg"); 
    background-position: left; 
    opacity: 0;
}
.img-presentacion3{
    z-index: 2;
    background-image: url("../images/churros3.jpg");  
    opacity: 0;
}
.img-presentacion4{
    z-index: 1;
    background-image: url("../images/churros4.jpg");  
    opacity: 0;
}

.somos{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.somos img{
    width: 60vw;
    height: 60vw;
   
    border-radius: 10px;

   
}

.somos h1{
    margin-top: 8vw;
    font-size: 40px;
    color: #613700;
}
.somos span{
    color: #E07F00;
}

.somos p{
    margin: 3vw 5vw 2vw 5vw;
}

.p-somos{
    padding-bottom: 10vw;
}

.productos{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.493),rgba(0, 0, 0, 0.493)), url(../images/churros1.jpg);
    background-position: left;
    background-size: cover;
    

   display: flex;
   flex-direction: column;

   justify-content: center;
   align-items: center;

   position: relative;
   overflow: hidden;
}
.slider-productos{
position: absolute;
left: 0%;

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;

animation: slide 10s infinite ease-in-out;

/* display: none; */
}

.slider-item{
    width: 100vw;
    height: 100vw;
    
}
.slider-imagen{
    width: 100%;
    filter: drop-shadow(0px 0px 15px #ffffff9d);
}

@keyframes slide {
    0% {left: 0%}
    20% {left: 0%}

    25% {left: -100%}
    45% {left: -100%}

    50% {left: -200%}
    70% {left: -200%}

    75% {left: -300%}
    95% {left: -300%}
}

.div-botones{
   /*  display: flex; */
    flex-direction: row;
    display: none;
    position: relative;
}
.img-producto{
    position: absolute;
    width: 20%;
    top: -50%;
    right: 3%;
    opacity: 0.8;
}
.img-izq{
    left: 3%;
}
.botones-productos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    z-index: 888;
    width: 100%;
    height: 50%;

    
}
.btn-producto{
    font-size: 30px;
    padding: 5px 0px;
    width: 100%;

    border: none;
    background-color: #e07f005b;
    color: white;

    filter: blur(0px);
}

