*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}
.playa{
    width: 80%;
    height: 100%;
    background-color: rgb(253, 237, 218);
    
}
.rango{
    background-color: rgb(168, 168, 162);
    height: 100%;
    margin: 0;
    position: relative;
    transition: 1s;
    
}
.lineas{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-left: 5px dashed rgb(172, 255, 47);
    border-right: 5px dashed rgb(255, 47, 47);
    z-index: 11;
    position: absolute;
}
.lineas p{
    position: absolute;
    bottom: 2%;
    border-radius: 3px;
    padding: 1px 3px;
}
.min{
    left: 2%;
    background-color: greenyellow;
}
.max{
    right: 2%;
    background-color:rgb(255, 47, 47) ;
}
.agua{
    width: 100vw;
    height: 100%;

    background-color: rgb(2, 128, 128);
    position: absolute;
    right: 0%;
    z-index: 10;

    transition: 5s;
    
}
.barranco{
    width: 20%;
    height: 100%;
    background-color: rgb(59, 0, 0);
}